<div class="card">

  <div class="header">
      <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">

      <form #searchForm="ngForm">
          <div class="form-group">
              <label>From:</label>
              <input name="from" [(ngModel)]="from" class="form-control" required minlength="3">
          </div>
          <div class="alert alert-danger"
            *ngIf="searchForm?.controls.from?.invalid">
            Error occurred!
          </div>
          <div class="alert alert-danger"
            *ngIf="searchForm?.controls.from?.hasError('required')">
            This is a mandatory field!
          </div>
          <div class="alert alert-danger"
            *ngIf="searchForm?.controls.from?.hasError('minlength')">
            Enter at least 3 chars!
          </div>

          <div class="form-group">
              <label>To:</label>
              <input name="to" [(ngModel)]="to" class="form-control" required minlength="3">
          </div>
          <div class="alert alert-danger"
            *ngIf="searchForm?.controls.to?.invalid">
            Error occurred!
          </div>
          <div class="alert alert-danger"
            *ngIf="searchForm?.controls.to?.hasError('required')">
            This is a mandatory field!
          </div>
          <div class="alert alert-danger"
            *ngIf="searchForm?.controls.to?.hasError('minlength')">
            Enter at least 3 chars!
          </div>

          <div class="form-group">
          <button
              [disabled]="!searchForm?.valid"
              (click)="search()"
              class="btn btn-default">Search</button>
          </div>
      </form>

  </div>
</div>

<div class="row">
  <div *ngFor="let flight of flights" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

    <app-flight-card
      [item]="flight"
      [selected]="basket[flight.id]"
      (selectedChange)="basket[flight.id] = $event">

      <span class="flight-title">My additional title</span>
      <span>My additional description</span>

    </app-flight-card>

  </div>
</div>

<div class="card">
  <pre>{{ basket | json }}</pre>
</div>
